@media (max-width: 768px) {
  .offer__container {
    text-align: center;
  }
  .offer__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;  
    color: #FFFFFF;
  }
  .offer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px; 
    color: #FFFFFF;
    display: flex;
    align-items: center;
  }
  .game__image {
    display: flex;
  }
}
//  тут закрывающий 