* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}
.offer {
    background-image: url(./img/mainimg.png);
    background-position: center;
    height: 1024px;
}
.offer,
.game-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}
.game-list__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.offer__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;  
    margin-left: 120px;
    display: flex;
    align-items: center;
}
.offer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left: 60px;
    padding-bottom: 57px;
}
.offer__button {
    margin-left: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
}
.main__image {
    background-image: url(./img/mainimg.png);
    background-position: center;
    height: 1024px;
}
.game-list {
    background-image: url(./img/backelement.png);
    background-position: center;
}
.game--list__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.game__image {
    width: 100%;
    border-radius: 16px;
}
@import 'mobile';

 