* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

// .img {
//     width: 100%;
// }
.offer {
    background-image: url(./img/mainimg.png);
    background-position: center;
    height: 1024px;
}
.offer,
.game-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.game-list__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.game {
    border-radius: 16px;
    background-position: center;
    width: 379px;
    height: 300px;
    padding: 32px;
}
.offer__title {
    max-width: 680px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;  
    display: flex;
    align-items: center;
}
.offer__text {
    max-width: 500px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: max;
    span {
        font-weight: 700;
    }
}
.offer__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #9C0332;
    border-radius: 30px;
    width: 234px;
    height: 48px;
}
.main__image {
    background-image: url(./img/mainimg.png);
    background-position: center;
    height: 1024px;
}
.game-list {
    background-image: url(./img/backelement.png);
    background-position: center;
    height: 556px;    
}
.game {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}
.game--list__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    align-items: flex-end;
}
.game__image {
    width: 100%;
    border-radius: 16px;
}
.game-list__container {
    display: flex;
    text-align: center;
}
.game--1 {
    background-image: url(./img/elementimg1.png);
}
.game--2 {
    background-image: url(./img/elementimg2.png);
}
.game--3 {
    background-image: url(./img/elementimg3.png);
}
.a {
    text-decoration: none;
}
.time__year {
    background-image: url(./img/timeyearimg.png);
    background-position: center;
    height: 800px;
}
.time__year_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.time__year_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.time__year_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;
}
.time__year {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
// 3 block game-word
.game-word {
    background-image: url(./img/backelement.png);
    background-position: center;
    height: 800px; 
}
.game-word {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.game-word_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;
}
.game-word_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.game-word_text {
    width: 588px;
    height: 64px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
@import 'mobile';

 